$test-color = pink
$standard-font-size = 10pt

//*
//	font-size: $standard-font-size

	
h3
	margin-bottom: 20px;

h4
	margin-bottom: 10px;
	
.main.menu
	background-color: #F7F7F7
	position: absolute
	top: 0
	left: 0
	bottom: 0
	min-width: 150px
	padding: 20px
	z-index: -10
	border-right: #E8E8E8 1px solid

.app
	overflow-y: scroll
	
.login.container
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
	background-color: #f6f7f9
	z-index: -1
	.dialog
		position: relative
		z-index: 0		
		margin: 100px auto
		width: 400px
		border: 1px double silver
		box-shadow: 1px 1px 4px #AAA;
		border-radius: 3px
		overflow: hidden
		padding: 20px
		.stethoscope
			font-size: 70pt
			text-align: center
			color: silver
			padding: 10px 15px
		.field
			line-height: 2.5em
		.username,
		.password
			label span,
			input
				font-size: 12pt
				margin: 0 5px
			input,
			input:focus
				position: relative;
				padding: 3px;
				border: 1px solid #bdbdbd;
				box-shadow: 0 1px 5px #808182;
				text-indent: 5px;
				border-radius: 2px;
				/*background: blue*/
		.submit
			float: right
			margin: initial
			line-height: 22px
			
		
.constateringen, .controles
	.info-row
		/*width: 100%*/
		height: 200px
		min-width: 1000px
		border-bottom: 1px solid #bbb
		.info
			width: 350px //- 510px fakticheski
			height: 140px //- 180px fakticheski s padding top i bottom
			/*width: 40%*/
			/*height: 150px*/
			padding: 20px 140px 20px 20px
			/*padding: 20px*/
			float: left
			/*border:	1px solid black*/
			background: rgb(241, 241, 241);
			box-shadow: 10px 5px 12px gray;
			h2
				margin-bottom: 20px;
		.filter-container
			float: left
			min-width: 450px
			height: 140px
			/*width: 40%*/
			padding: 20px
			/*border:	1px solid gray*/
			.filter
				/*height: 25px*/
				label
					line-height: 25px
	.grid-row
		height: 350px;
		width: 100%;
		position: relative;
		border-bottom: 2px solid #bbb
		.row .cell .selectbox
			min-width: 50px
	.command-row
		/*background: $test-color*/
		.buttonBar
			padding-top: 20px

.detailsContainer
	position: absolute
	top: 0
	left: 230px
	bottom: 0
	right: 0
	padding: 10px
	.form
		margin-top: 30px
	.header
		height: 25px
		line-height: 25px
		font-size: 1.5em
	.noResultsMessage
		font-size: 14px
		letter-spacing: 0.02em
		color: #929292
		font-weight: 500
		padding-top: 60px
		text-align: center
	.buttonBar
		position: absolute
		overflow: hidden
		bottom: 0
		left: 0
		right: 0
		
.grid .container .row.selected
	background-image: none !important
	background-color: blue !important //-#F5BB90 #CDF7A2 !important
	