<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="fileserver.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
			 <rules>
				 <rule name="static">
					 <match url="/*" />
					 <action type="Rewrite" url="fileserver.js" />
				 </rule>
			 </rules>
		</rewrite>
  </system.webServer>
</configuration>