{
	"configSQLServer": {
		"userName": "node_user",
		"password": "nodeuser",
		"server": "192.168.145.129",
		"options": {
			"database": "dotcontroles",
			"instanceName": "SQLEXPRESS_2012",
			"rowCollectionOnRequestCompletion": false
		},
		"logger": {
    	"level": 1
    }
	}
}
